extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
        <a href="/books">Books</a>
    li
        <a href="/books/1">A Book</a>
    li
        <a href="/authors">Authors</a>
    li
        <a href="/authors/1">An Author</a>
    li
        <a href="/persons">Persons</a>
    li
        <a href="/persons/1">A Person</a>
